{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<form class="login-form" method="post">
    {% csrf_token %}
    <div class="txtb">
      <input type="text" name="username" placeholder="Username">
    </div>

    <div class="txtb">
      <input  placeholder="Password" name="password" type="password">
    </div>

    <input type="submit" class="logbtn" value="Login">

    <div class="bottom-text">
      Don't have account? <a href="{% url 'signup' %}">Sign up</a>
    </div>
  </form>


{% endblock %}
