{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  <div>
	<h2>Hi {{ user.username }}!</h2>
  </div>

  <button class="btn draw-border"><a href="{% url 'user_list' %}">List User</a></button>
  <button class="btn draw-border"><a href="{% url 'logout' %}">Logout</a></button>

{% else %}
	<h2>Please Login To Get In..</h2>
  <button class="btn draw-border"><a href="{% url 'login' %}">Create User</a></button>
{% endif %}
{% endblock %}
