@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

:root {
	/* Base font size */
	font-size: 8px;

	/* Heading height variable*/
	--heading-height:13em;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100vh;
	background-color: #101010;
}

header {
	position: fixed;
	width: 100%;
	height: var(--heading-height);
}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 35em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background:
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(https://images.unsplash.com/photo-1495464101292-552d0b52fe41?auto=format&fit=crop&w=1350&q=80) no-repeat center,
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

h1 {
	font-size: calc(2em + 1.7vw);
	font-weight: 550;
	letter-spacing: .01em;
  padding: 0 20 30 0;
  margin-top: -230px;
  margin-left: 20px;
	text-shadow: .022em .022em .022em #111;
	color: #FFFBE8;
}

h2 {
	font-size: calc(1.3em + 1.4vw);
	font-weight: 450;
	letter-spacing: .01em;
  padding: 10 20 30 0;
  margin-top: -130px;
  margin-left: 100px;
	text-shadow: .022em .022em .022em #111;
	color: #F4F4F8;
}

h3 {
	font-size: calc(2em + 1.8vw);
	font-weight: 450;
	letter-spacing: .01em;
  padding: 10 20 30 0;

  margin-left: 80px;
	text-shadow: .022em .022em .022em #111;
	color: #eb7070;
}

p {
	font-size: calc(2em + .25vw);
	font-weight: 400;
	line-height: 2;
	margin-bottom: 1.5em;
	color: #fcfcfc;
}

a:link {
  text-decoration: none ;
}



a:link {
  color: #58afd1;
}

/* visited link */
a:visited {
  color: #58afd1;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: yellow;
}

/* button */
 .draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}



.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 140 2.5rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  margin-right: 350px;
  margin-top: 100px;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 3px dotted #55d7dc;
}
